.radiusImg25 {
    border-radius: 25%;
}

.radiusImg10 {
    border-radius: 10%;
}

.radiusImg5 {
    border-radius: 5%;
}

.radiusImg15 {
    border-radius: 15%;
}

.radiusImg20 {
    border-radius: 20%;
}